<zf-modal id="reviewForm" class="collapse">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <span class="title left">Review this Trail</span>
      <span class="right"><a zf-close="">Close</a></span>
    </div>
    <div class="grid-content">
      <form>
        <br>
        <input type="text" placeholder="Name">
        <textarea rows="6" placeholder="Your review"></textarea>
        <p><a class="medium button success" zf-close="">Add Review</a></p> 
      </form>
    </div>
  </div>
</zf-modal>
