
<div class="grid-block">
  <div class="grid-content">
    <h1>About BikePDX</h1>
    <hr>
      <img class="show-for-medium" src="assets/img/portland11.jpg">
    <p>BikePDX is a community of cyclists who want to share their knowledge of Portlands bicycle
    trails and routes with others. There are many great trails and routes in Portland for biking and
    this is the place to share them.</p>

      <p>Portland is a very bike friendly city. Portland has many bike lanes and bike routes to ride on
      the streets. Make sure you always follow the traffic laws when cycling. Just because the car drivers
      are friendly to cyclists doesn't mean you should take advantage of the situation by riding recklessly.</p>
  </div>
</div>
