
<div class="grid-block">
  <div class="grid-content">
    <h1>Add Routes</h1>
    <hr>
    <p>
      If there is a Portland trail that you enjoy riding please share it so we can enjoy it to.
      Please note that this is a prototype demo, your trail will not be added.
    </p>
    <form>
      <input type="text" placeholder="Route Name">
      <input type="text" placeholder="Location">
      <textarea rows="6" placeholder="Description"></textarea>
      <p>
        <a class="medium button success" ui-sref="home" zf-open="trail-notify"><img zf-iconic="" icon="circle-check" size="small"> Add New Trail</a>
      </p>
    </form>
  </div>
</div>
