
<div class="grid-block">
  <div class="grid-content">
    <h1>Add Routes</h1>
    <hr>
    <p>
      Legere nominavi reprehendunt ius cu. An possim oblique vis. Iuvaret nusquam facilisis vel ei, et has
      sumo labores, ex atomorum delicata dissentiet quo. Animal detracto intellegat per ad, usu dicat
       philosophia ad, et voluptua quaerendum mel. Iuvaret expetenda omittantur ne mei.
    </p>
    <form>
      <input type="text" placeholder="Route Name">
      <input type="text" placeholder="Location">
      <textarea rows="6" placeholder="Description"></textarea>
      <p>
        <a class="medium button success" ui-sref="home" zf-open="trail-notify"><img zf-iconic="" icon="circle-check" size="small"> Add New Trail</a>
      </p>
    </form>
  </div>
</div>
