
<div class="grid-block">
  <div class="grid-content medium-4">
    <p><img class="thumbnail" src="assets/img/portland.jpg"></p>
  </div>
  <div class="grid-content medium-8">
    <h4 class="subheader">Deschutes River Trail</h4>
    <p>Deschutes River Trail is 12 miles and runs along the river with great views and recreation.</p>
  </div>
</div>
<div class="grid-block">
  <div class="grid-content medium-4">
    <p><img class="thumbnail" src="assets/img/portland2.jpg"></p>
  </div>
  <div class="grid-content medium-8">
    <h4 class="subheader">Astoria Riverwalk</h4>
    <p>The Astoria Riverwalk goes along part of the Astoria and Columbia River Railroad.</p>
  </div>
</div>
