
<div class="grid-block">
  <div class="grid-content medium-4">
    <p><img class="thumbnail" src="assets/img/trail-2.jpg"></p>
  </div>
  <div class="grid-content medium-8">
    <h4 class="subheader">El Rio Trail</h4>
    <p>The El Rio Trail is a 2 mile out and back trail located in your area. The trail is primarily
    used for mountain biking and is accessible year-round.</p>
  </div>
</div>
<div class="grid-block">
  <div class="grid-content medium-4">
    <p><img class="thumbnail" src="assets/img/trail-2.jpg"></p>
  </div>
</div>
