
<div class="grid-block main-search align-center">
  <div class="grid-content medium-10">
    <h1>Find A Portland Bike Route</h1>
    <p class="lead">Explore several Portland OR Bike routes.</p>
    <span class="inline-label">
      <input type="search" class="search" placeholder="Search by city or zip code">
      <a href="#" ui-sref="results" class="button"><img zf-iconic="" icon="magnifying-glass" size="small"></a>
    </span>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content large-6">
    <h3>Discover the Outdoors!</h3>
    <p>Looking for a bike routes near home? BikePDX helps you rediscover the outdoors by providing
      you several road bike routes and mountain bike trails and reviews to explore.</p>
  </div>
  <div class="grid-content large-6">
    <h3>Add &amp; Share Trails</h3>
    <p>The routes on this site were contributed by bikers around the city of Portland. With BikePDX you
    can add trails and share trails with friends.</p>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content">
    <hr>
    <h4>Featured Routes</h4>
    <p>Each week we feature the top Portland road bike routes, and mountain bike trails in your area</p>
    <p><a ui-sref="home.featured" class="button">View featured routes in your area</a></p>
  </div>
</div>




  <!-- featured trails view -->
  <div ui-view></div>
